<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Node Management Page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <!--LOGIN-->
    <div style="float: right">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form method="post" th:action="@{/logout}">
            <input class="form-control btn btn-primary" type="submit" value="Sign Out"/>
        </form>
    </div>
    <!--END LOGIN-->
    <h1>Node Management Page</h1>
    <br>

    <!--PAGES TABLE-->
    <div id="nodesDiv" th:fragment="all-nodes">
        <br>
        <div th:if="${parents}" th:each="parent, i : ${parents}">
            <table class="table">
                <thead>
                <tr class="info">
                    <th colspan=3> Connection Status: <span th:text="${sessionByParId.get(parent.parentId)?.isOpen()}">Status</span> </th>
                    <th align="center">
                        <span th:if="${parent.parentNick}">Parent Name: </span><span th:text="${parent.parentNick}"> Par name </span>
                    </th>
                    <th>
                        Parent Id: <span th:text="${parent.parentId}" class="parentId">Parent Id </span>
                    </th>
                    <th colspan=3>
                        <a class="editParent" th:href="${parent.id}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        &nbsp;&nbsp;
                        <a onclick="return confirm('Համոզվա՞ծ եք?')" th:href="@{deleteParent(parentId=${parent.parentId},id=${parent.id})}">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> Node Name</th>
                    <th scope="col">Child Id</th>
<!--                    <th scope="col">Start Time</th>-->
<!--                    <th scope="col">End Time</th>-->
                    <th scope="col">Node Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="node, i : ${parent?.nodes}">
                    <td><span th:text="${i.index +1}"> nom </span></td>
                    <td><span th:text="${node.nodeNick}"> Node name </span></td>
                    <td><span th:utext="${node.childId}"> Child id </span></td>
<!--                    <td><input class="form-control" th:type="time" th:value="${node.startDailyTime}" disabled></td>-->
<!--                    <td><input class="form-control" th:type="time" th:value="${node.endDailyTime}" disabled></td>-->
                    <td><span th:utext="${node.status}"> true or false </span></td>
                    <td>

                        <span class="glyphicon glyphicon-pencil edit" style="cursor: pointer;"
                              th:href="${node.id}"></span>&nbsp;

                    </td>
<!--                    <td><a href="#" class="waterToggle" alt="click to start water"-->
<!--                           th:attr="data-parent-id=${parent.parentId},data-child-id=${node.childId}">-->
<!--                        <img src="/static/img/no-water.png" width="20" height="20">-->
<!--                    </a></td>-->
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!--PAGES TABLE END-->
    <br>
</div>
<br>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="nodeContent">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Modal -->
<script th:inline="javascript">
    $(document).ready(function () {
        loadScriptsFunc();
        // setInterval(function () {
        //     $("#nodesDiv").load('/socket/mainAjax', function () {
        //         loadScriptsFunc();
        //     });
        // }, 60000);
    });

    function loadScriptsFunc() {
        const home_url = window.location.origin;
        // edit node
        $(".edit").on("click", function (event) {
            event.preventDefault();
            let id = $(this).attr("href");
            $("#nodeContent").load(home_url + '/socket/get-node?id=' + id, function () {
                ajaxPost();
            });
            $('#myModal').modal('show');

        })

        function ajaxPost() {
            $("form").on("submit", function (event) {
                event.preventDefault();
                let id = $(this).attr("href");
                $.post(event.target.action, $("form").serialize())
                    .done(function (data) {
                        if (data == "<div>saveSuccess</div>") {
                            window.location.href = home_url + '/socket/technical-main';
                        } else {
                            $("#nodeContent").html(data);
                            ajaxPost();
                        }

                    });
            })
        }

        $(".editParent").click(function (event) {
            event.preventDefault();
            $('#myModal').modal('show');
            let id = $(this).attr("href");
            $("#nodeContent").load(home_url + '/socket/get-parent?id=' + id, function () {
                ajaxPost();
            });
        })
        let click = false;
        $(".waterToggle").click(function () {
            click = !click;
            if (click) {
                $(this).find("img").attr("src", "/static/img/giphy.gif");
                startWater($(this).data("parent-id"), $(this).data("child-id"));
            } else {
                $(this).find("img").attr("src", "/static/img/no-water.png");
                endWater($(this).data("parent-id"), $(this).data("child-id"));
            }
        });

        function startWater(parentId, childId) {
            $.ajax(home_url + '/socket/start?parentId=' + parentId + '&childId=' + childId)
        };

        function endWater(parentId, childId) {
            $.ajax(home_url + '/socket/stop?parentId=' + parentId + '&childId=' + childId)
        };
    }
</script>
</body>
</html>